* {
  margin: 0px;
  padding: 0px;
}

body,
#root {
  margin: auto;
  padding-block: 0px;
  width: 80vw;
  justify-content: center;
  text-align: center;
  border: 1px solid #443742 /*#c31533*/;
  background-color: #443742;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2rem;
  --unit: 1rem;
  --white: whitesmoke;
}

/* Header */
.header {
  width: 100%;
  height: calc(var(--unit) * 4.5);
  background-color: #443742; /*#c31533*/
}
.nav {
  display: flex;
  width: 100%;
  height: 100%;
  color: #000;
}
.logoWrapper {
  display: flex;
  background-color: var(--white);
  padding-inline: var(--unit);
  height: 100%;
}
.logoImg {
  width: calc(var(--unit) * 4);
}
.logoWrapper:nth-child(1) {
  font-size: x-large;
  align-items: center;
  gap: 1.5rem;
}
.link{
  text-decoration: none;
  color: #443742;
}

.topic{
  text-decoration: none;
  color: var(--white);
}

.topics {
  display: flex;
  width: 50%;
  margin: auto;
  gap: var(--unit);
  justify-content: space-around;
  font-size: 80%;
  color: var(--white);
}
.signIn {
  display: flex;
  margin: auto;
  gap: calc(var(--unit));
  justify-content: space-around;
  font-size: 80%;
  border: 1px solid whitesmoke;
  color: var(--white);
  padding: var(--unit);
}
.main, .outlet {
  width: 100%;
  background-color: var(--white);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--unit);
  padding: var(--unit);
  margin: auto;
}

.card {
  width: 90%;
  height: calc(var(--unit) * 28);
  font-size: calc(var(--unit) * 1.5);
  background-color: var(--white);
  margin: auto;
  padding: var(--unit);
  border: 0.5px solid #443742;
  border-radius: var(--unit);
  -webkit-box-shadow: 5px 8px 15px -4px #443742;
  box-shadow: 5px 8px 15px -4px #443742;
}

.card-title {
  font-size: calc(var(--unit) * 1.75);
  text-decoration: none;
  color: #443742;
}
.cardImage {
  width: 100%;
  height: 35%;
}
.cardMeta {
  text-align: left;
  font-size: calc(var(--unit) * 1.1);
}

/* Single article styles */
.singleCardGrid{
  display: grid;
  grid-template-columns: auto;
  padding: calc(var(--unit) * 2);
  margin: 0px;

}
.singleCard {
  min-height: 70vh;
  line-height: 1.5;
  padding: var(--unit);
  margin: 0px;
  box-shadow: none;
  border: none;
}
.singleCard .cardImage{
  width: 25%;
  float: left;
  padding-right: var(--unit);
  margin-top: calc(var(--unit) * 0.6);
}
.singleCard .singleCard-title{
  font-size: calc(var(--unit) * 2.5);
  font-weight: bold;
}
h5{
  padding-bottom: calc(var(--unit) * 2.5);
}
.singleCard .cardMeta{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: var(--unit);
}
.singleCard .body{
  text-align: left;

}
.singleCard .dateTime{
  text-align: right;
}

