html{
  overflow: hidden;
}

/* Scroll bar manipulation*/
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #846C5B;  */
  background: #FFF; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #CEA07E;  */
  background: #eee; 
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.primaryBody{
  overflow-x: hidden;
  overflow-y: scroll;
  /* margin: auto; */
  width: 80vw;
  height: 100vh;
  /* justify-content: center; */
  /* text-align: center; */
  border: 1px solid #443742 /*#c31533*/;
  background-color: #443742;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.75rem;
  --unit: 1rem;
  --white: white;
}
.homeAdj {
  width: 60vw;
  margin: auto;
  justify-content: center;
  text-align: center;
}
/* Header */
.header {
  width: 100%;
  height: calc(var(--unit) * 4.5);
  background-color: #443742;
}
.nav {
  display: flex;
  width: 100%;
  height: 100%;
  color: #000;
}
.logoWrapper {
  display: flex;
  background-color: var(--white);
  padding-inline: var(--unit);
  height: 100%;
}
.logoImg {
  width: calc(var(--unit) * 4);
}
.logoWrapper:nth-child(1) {
  font-size: x-large;
  align-items: center;
  gap: 1.5rem;
}
.link{
  text-decoration: none;
  color: #443742;
}
/* 
.topic{
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
} */

.topics {
  display: flex;
  width: 50%;
  margin: auto;
  gap: var(--unit);
  justify-content: space-around;
  font-size: 80%;
  color: var(--white);
}
.topics *, .register, .login {
  cursor: pointer;
}
.topics *:hover, .register:hover, .login:hover {
  transform: scale(1.2);
}

.signIn {
  display: flex;
  margin: auto;
  gap: calc(var(--unit));
  justify-content: space-around;
  font-size: 80%;
  border: 1px solid whitesmoke;
  color: var(--white);
  padding: var(--unit);
}
.main {
  width: 100%;
  background-color: var(--white);
}
li {
  list-style: none;
}
.homeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--unit);
  padding: var(--unit);
  margin: auto;
}

.homeCard, .sideListCard {
  width: 100%;
  height: calc(var(--unit) * 28);
  font-size: calc(var(--unit) * 1.75);
  background-color: var(--white);
  margin: auto;
  text-align: center;
  padding: var(--unit);
  border: 0.5px solid #443742;
  border-radius: var(--unit);
}

.card-title {
  font-size: calc(var(--unit) * 1.75);
  text-decoration: none;
  color: #443742;
}
.cardImage {
  width: 100%;
  height: 35%;
  margin-bottom: var(--unit);

}
.cardMeta {
  text-align: left;
  font-size: calc(var(--unit) * 1.1);
}

.homeCard:hover, .sideListCard:hover{
  outline: 1px solid #443742;
}

/* Single article styles */
.singleCardGrid{
  display: grid;
  grid-template-columns: auto;
  padding: calc(var(--unit) * 2);
  margin: 0px;
}
.singleCard {
  min-height: 70vh;
  line-height: 1.5;
  padding: var(--unit);
  margin: 0px;
  box-shadow: none;
  border: none;
}
.singleCard .cardImage{
  width: 100%;
  height: 413px;
  float: left;
  padding-right: var(--unit);
  margin-top: calc(var(--unit) * 0.6);
}
.singleCard .singleCard-title{
  font-size: calc(var(--unit) * 2.5);
  font-weight: bold;
}
h5{
  padding-bottom: calc(var(--unit) * 2.5);
}
.singleCard .cardMeta{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: var(--unit);
}
.singleCard .body{
  text-align: left;
  font-size: calc(var(--unit) * 1.2);
  line-height: 2;
}
.singleCard .dateTime{
  text-align: right;
}

.sideList{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 20vw;
  min-height: 100vh;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
.sideListCard {
  width: 90%;
  margin-block: var(--unit);
  height: auto;
  border-radius: 0px;
}

/* Filters */
.filters{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 20vw;
  width: 20vw;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: left;
  background-color: #FFF;
  padding: var(--unit);
  font-size: x-large;
}
#authorFilter{
  display: none;
}
.border {
  display: block;
  position: relative;
  width: 100%;
  border: 0.5px solid #443742;
  padding: var(--unit);
}
.filters .filterInput{
  margin: var(--unit);
  margin-bottom: auto;
  vertical-align: bottom;
  width: 25px;
  height: 25px;
  accent-color: #CEA07E;
}
.filters input[type="submit"],
.filters input[type="reset"]{
  width: calc(var(--unit) * 8);
  font-size: calc(var(--unit) * 1.5);
  font-weight: bold;
  padding: calc(var(--unit) * 0.6);
  margin: calc(var(--unit) * 0.2);
  border: none;
  color: #FFF;
  background-color: #443742;
}
.filters input[type="submit"]:hover,
.filters input[type="reset"]:hover{
  border: 2px solid #443742;
  color: #443742;
  background-color: #FFF;
  cursor: pointer;
}
.topicsHeading{
  font-weight: 700;
}
.border input, .border label{
  cursor: pointer;
}
.border input:hover, .border label:hover{
  text-decoration: underline;
}

.filters p{
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  padding-block: var(--unit);
}
.authorDropdownWrapper{
  text-align: center;
  display: none;
}
.authorDropdown{
  font-size: calc(var(--unit) *1.5);
  padding: calc(var(--unit) * 0.2);
  margin-top: calc(var(--unit) * 0.7);
}
.authorDropdownDisplay{
  display: block;
}
.clearBtn{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: calc(var(--unit));
  font-weight: bold;
  padding: calc(var(--unit) * 0.3);
  margin: calc(var(--unit) * 0.2);
  border: 2px solid #443742;
  color: #443742;
  background-color: #FFF;
}
.clearBtn:hover{
  border: none;
  color: #FFF;
  background-color: #443742;
  cursor: pointer;
}